body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

a{
  text-decoration: none;
  color: black;
  padding-left: 1vw;
  font-size: 25px;
}

a:hover{
  text-decoration: underline;
  color: blue;
  font-weight: 800;
}

.navbar_container{
  background-color: rgb(0, 255, 251);
  padding: 10px;
}
.error{
  color: red;
  padding: 1vw;
}


.register-button {
  display: inline-block;
  border-radius: 5px;
  background-color: #25bfab;
  border: 0.8vw solid transparent;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2vw;
  width: 30vw;
  transition: all 0.5s;
  cursor: pointer;
  height: 45px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
  margin-left: 0.9vw;
  margin-top: 1vw;
}

.register-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.register-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.register-button:hover span {
  padding-right: 25px;
}

.register-button:hover span:after {
  opacity: 1;
  right: 0;
}